<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="cn.helloan.mapper.EmployeeMapper">

	<insert id="add" parameterType="cn.helloan.entity.Employee">
		insert into tbl_person(name,age,birth,registerTime,salary)
		values(#{name},#{age},#{birth},#{registerTime},#{salary})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		delete from tbl_person where id=#{id}
	</delete>
	
	<update id="update" parameterType="cn.helloan.entity.Employee">
		update tbl_person 
		set name=#{name},age=#{age},birth=#{birth},registerTime=#{registerTime},salary=#{salary}
		where id=#{id}
	</update>
	
	<select id="getPersonById" parameterType="Integer" resultType="cn.helloan.entity.Employee">
		select id,name,age,birth,registerTime,salary from tbl_person where id=#{id}
	</select>
	
	<select id="getAll" resultType="cn.helloan.entity.Employee">
		select * from tbl_person
	</select>
	
	
</mapper>